{% extends "layout.html" %}

{% block title %}

index

{% endblock %}




{% block main %}

<table class="table table-striped">
        <thead>
            <tr>
                <th>...</th>
                <th>Today</th>
                <th>Previous</th>
                <th>Total today</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tbody>
             
                    <tr>
                        <td>Water</td>
                        <td>{{ water_today_value }}</td>
                        <td>{{ water_yesterday_value }}</td>
                        <td>{{ count_water_today_total }}</td>
                        <td>{{ sum_water }}</td>
                    </tr>
                    <tr>
                        <td>Light</td>
                        <td>{{ light_today_value }}</td>
                        <td>{{ light_yesterday_value }}</td>
                        <td>{{ count_light_today_total }}</td>
                        <td>{{ sum_light }}</td>
                    </tr>
                    <tr>
                        <td>Heater</td>
                        <td>{{ heater_today_value }}</td>
                        <td>{{ heater_yesterday_value }}</td>
                        <td>{{ count_heater_today_total }}</td>
                        <td>{{ sum_heater }}</td>
                    </tr>

        </tbody>
    </table>

{% endblock %}



<!-- 
<h1>Hello!!!</h1>

<div>
    <div>Yesterday water {{ water_yesterday_value }}</div>
    <div>Water total today {{ count_water_today_total }}</div>
    
</div>

<div>
    <div>Yesterday light {{ light_yesterday_value }}</div>
    <div>Light total today {{ count_light_today_total }}</div>
   
</div> -->
